body {
font-family: Helvetica,sans-serif;
line-height: 1.3em;
margin: 0px 0px 0px 0px;
font-size: 11px;
color: #333;
background-image:url(../images/cu_page_bg.gif);
background-repeat:repeat-x;
background-color:#efefef;
}

h1 {
color: #026D6D;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 15px;
}

h3 {
color: #2A5F50;
    float: left;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}

h4 {
font-weight:normal;
font-size:11px;
margin:3px 0px;
}

form {
margin:0;
padding:0;
}

fieldset {
border:1px dotted #2a5f50;
}
legend {}

a {
text-decoration:none;
}

img {
border:0;
}

/* PAGE CONTAINER */
div#page {
background-color:#FFFFFF;
width:770px;
text-align:left;
border-bottom:1px solid #CCCCCC;padding-bottom: 15px;
}

/* TOP MENU */
div#top {
margin:0;
padding:0;
}
div#top a {
text-decoration:none;
padding:0px 10px;
}
div#top ul {
list-style-type:none;
margin:0;
padding:0;
width:auto;
padding:7px 0px 7px 7px;
}
div#top ul li {
display:inline;
font-size:11px;
margin:0;
padding:0;
}
div#top ul li strong {
padding-right:3px;
}
div#top ul li a {
margin:0;
padding:0px 3px;
color:#333;
}
div#top ul li a:hover {
color:#990033;
text-decoration:underline;
}

/* TOP SEARCH BOX */
div.moduletable_search {
float:right;
margin:0;
padding:4px 0px 0px 0px;
}
div.moduletable_search input.inputbox_search {
font-size:11px;
}

/* HEADER */
div#header {
background-color: #009999;width:770px;
height:71px;
}
span.logo {
float:left;
width:71px;
height:71px;
}
span.logo a img {
border:0;
padding:10px;
}
div.floatLeftTop {
float:left;width: 370px;
}
div.floatLeftTop a {
margin:0;
padding:0;
}
div.floatLeftTop a img {
border:0;
}
div#teelogo {
float:right;
margin:36px 5px 0px 0px;
}
#teelogo p {
  margin:0;
}

div.centre-name a {
color: #FFFFFF;
    display: block;
    float: left;
    font-family: Arial Narrow,Helvetica Narrow,sans-serif;
    font-size: 26px;
    font-weight: normal;
    width: 100%;line-height: 26px;
}

/* MAIN MENU */ /* RIGHT POSITION */
div#left, div#right {
float:left;
width:157px;
margin-top:2px;
}
div#left div.moduletable_menu h3, div#right div.moduletable_menu h3 {
font-weight:bold;
font-size:12px;
padding-left:10px;
}

/* LEVEL 0 */
div#left div.moduletable_menu ul.menu, div#right div.moduletable_menu ul.menu {
list-style-type:none;
margin: 0 0 0 5px;
padding:0;
}
div#left div.moduletable_menu ul.menu li a, div#right div.moduletable_menu ul.menu li a {
color:#2a5f50;
font-weight:bold;
font-size:11px;
background-color:#d9e9e9;
display:block;
margin-top:1px;
border:1px solid #d9e9e9;
padding:3px 0px 3px 10px;
}
div#left div.moduletable_menu ul.menu li a:hover, div#right div.moduletable_menu ul.menu li a:hover {
background-color:#e9f4f4;
border:1px solid #4a8a8a;
}
/* Current item but (but not parent) */
div#left div.moduletable_menu ul.menu li#current a, div#right div.moduletable_menu ul.menu li#current a {
color:#990033;
background-color:#f0f6f6;
background-image:url(../images/arrow_menu_current.gif);
background-repeat:no-repeat;
background-position:5px 7px;
display:block;
margin-top:1px;
border:1px solid #f0f6f6;
padding:3px 0px 3px 10px;
}
div#left div.moduletable_menu ul.menu li#current a:hover, div#right div.moduletable_menu ul.menu li#current a:hover {
background-color:#FFFFFF;
border:1px solid #4a8a8a;
}
/* Active Parent */
div#left div.moduletable_menu ul.menu li.active.parent a,
div#left div.moduletable_menu ul.menu li#current.active.parent a,
div#right div.moduletable_menu ul.menu li.active.parent a,
div#right div.moduletable_menu ul.menu li#current.active.parent a{
background-image:none;
color:#2a5f50;
font-weight:bold;
font-size:11px;
background-color:#d9e9e9;
display:block;
margin-top:1px;
border:1px solid #d9e9e9;
padding:3px 0px 3px 10px;
}
div#left div.moduletable_menu ul.menu li.active.parent a:hover, div#right div.moduletable_menu ul.menu li.active.parent a:hover {
background-color:#FFFFFF;
border:1px solid #4a8a8a;
}

/* home - item1 */
div#left div.moduletable_menu ul.menu li.item1 a,
div#left div.moduletable_menu ul.menu li#current.item1 a,
div#right div.moduletable_menu ul.menu li.item1 a,
div#right div.moduletable_menu ul.menu li#current.item1 a{
color:#FFFFFF;
font-weight:bold;
font-size:11px;
display:block;
background-image:url(../images/cu_menu_top_corner.gif);
background-repeat:no-repeat;
background-position:top right;
background-color:#4a8a8a;
border:0;
}
div#left div.moduletable_menu ul.menu li.item1 a:hover,
div#left div.moduletable_menu ul.menu li#current.item1 a:hover,
div#right div.moduletable_menu ul.menu li.item1 a:hover,
div#right div.moduletable_menu ul.menu li#current.item1 a:hover {
background-color:#589e9e;
}

/* LEVEL 1 - not active (only display expanded) */
div#left div.moduletable_menu ul.menu li.active.parent ul,
div#left div.moduletable_menu ul.menu li#current.active.parent ul,
div#right div.moduletable_menu ul.menu li.active.parent ul,
div#right div.moduletable_menu ul.menu li#current.active.parent ul{
padding:0;
margin:0;
list-style-type:none;
}
div#left div.moduletable_menu ul.menu li.active.parent ul li a,
div#left div.moduletable_menu ul.menu li#current.active.parent ul li a,
div#right div.moduletable_menu ul.menu li.active.parent ul li a,
div#right div.moduletable_menu ul.menu li#current.active.parent ul li a {
color:#2a5f50;
background-color:#f0f6f6;
background-image:url(../images/arrow_menu.gif);
background-repeat:no-repeat;
background-position:10px 7px;
display:block;
margin-top:0px;
border:1px solid #f0f6f6;
padding:3px 0px 3px 15px;
}
/* level 1 active not parent */
div#left div.moduletable_menu ul.menu li.active.parent ul li#current.active a, div#right div.moduletable_menu ul.menu li.active.parent ul li#current.active a {
color:#990033;
background-color:#f0f6f6;
background-image:url(../images/arrow_menu_current.gif);
background-repeat:no-repeat;
background-position:10px 7px;
display:block;
margin-top:1px;
border:1px solid #f0f6f6;
padding:3px 0px 3px 15px;
}
/* level 1 active and parent */
div#left div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent a, div#right div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent a {
color:#2a5f50;
background-color:#f0f6f6;
background-image:url(../images/arrow_menu.gif);
background-repeat:no-repeat;
background-position:10px 7px;
display:block;
margin-top:0px;
border:1px solid #f0f6f6;
padding:3px 0px 3px 15px;
}
div#left div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent a:hover, div#right div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent a:hover {
background-color:#FFFFFF;
border:1px solid #4a8a8a;
}

/* LEVEL 2 */
div#left div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul,
div#left div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent ul,
div#right div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul,
div#right div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent ul{
padding:0;
margin:0;
list-style-type:none;
}
div#left div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li a,
div#left div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent ul li a,
div#right div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li a,
div#right div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent ul li a{
color:#2a5f50;
font-weight:normal;
background-color:#f0f6f6;
background-image:url(../images/arrow_menu.gif);
background-repeat:no-repeat;
background-position:15px 7px;
display:block;
margin-top:0px;
border:1px solid #f0f6f6;
padding:3px 0px 3px 20px;
}
div#left div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li a:hover,
div#left div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent ul li a:hover,
div#right div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li a:hover,
div#right div.moduletable_menu ul.menu li.active.parent ul li#current.active.parent ul li a:hover{
background-color:#FFFFFF;
border:1px solid #4a8a8a;
}
/* level 2 active not parent */
div#left div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li#current.active a,
div#right div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li#current.active a{
color:#990033;
background-color:#FFFFFF;
background-image:url(../images/arrow_menu_current.gif);
background-repeat:no-repeat;
background-position:15px 7px;
display:block;
margin-top:1px;
border:1px solid #FFFFFF;
padding:3px 0px 3px 20px;
}
div#left div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li#current.active a:hover,
div#right div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li#current.active a:hover{
background-color:#FFFFFF;
border:1px solid #4a8a8a;
}


/* MAIN CONTENT SPACE */
div#body {
float:left;
width: 570px;
margin:15px;
}
div#body_3col {
float:left;
width:426px;
margin:10px 10px 5px 10px;
}
div#pathway {
font-size:10px;
padding-bottom:10px;
}
div.top_return {
float:right;width: 75px;
background-image:url(../images/arrow_up.gif);
background-repeat:no-repeat;
background-position:0px 1px;
padding-left:14px;
margin:0px 5px 5px 15px;clear: left;
}
div.top_return a.backToTop {
color:#333333;
}

/* FOOTER */
div#footer {
width:770px;
text-align:left;
color:#999999;
font-size:11px;
padding:5px 0px;
}
div#footer ul {
list-style-type:none;
margin:0;
padding:0;
}
div#footer ul li {
display:inline;
font-size:11px;
margin:0;
padding:0px 3px;
}
div#footer ul li a {
color:#333333;
}


/* JOOMLA */
td.contentheading,
div.componentheading {
font-weight:bold;
font-size:18px;
margin:0;
padding:0px 0px 5px 0px;
color:#2a5f50;
}

/* BlueFlameIT added styles */
#main {margin-left:auto;margin-right:auto;padding:0;width:770px;}
.externallink { background: url("../images/externallink.png") no-repeat scroll 0 0 transparent;display: block;float: left;margin-right: 10px;padding-left: 15px;margin-top: 8px;}
.externallink a {font-family: Helvetica,Arial,sans-serif;color: #FFFFFF;}
.externallink a:hover {text-decoration:underline;}
div.centre-name {float: left;padding: 10px 10px 12px 0px;}
div.item-page ul.actions { float: right;list-style: none outside none; margin: 0;padding: 0; width: 100%;}
div.item-page ul.actions li {float: right;margin-left: 10px;}
h2, , .newsevents div#main div#page div#right div.moduletable h3 {color: #2A5F50;float: left;font-size: 18px;font-weight: bold;margin: 0 0 20px;padding: 0;width: 90%;}
div#left div.moduletable_menu ul.menu li.item-21 a{background-color: #4A8A8A; border: 0 none;color: #FFFFFF;display: block;font-size: 11px;font-weight: bold;-webkit-border-top-right-radius: 20px;-moz-border-radius-topright: 20px;border-top-right-radius: 20px;}
div#left div.moduletable_menu ul.menu li.item-21 ul li a {-webkit-border-top-right-radius: 0px;
-moz-border-radius-topright: 0px;
border-top-right-radius: 0px;}
dd.modified {margin:0px;}
div.item-page p {width:100%;margin: 5px 0;}
div.item-page blockquote {float:left;width:100%;margin: 5px 0px 5px 25px;}
div#schoolimage{float:right;margin:0px;height: 71px;}
.centre-name h2 {color: #FFFFFF;display: block;font-family: Arial Narrow,Helvetica Narrow,sans-serif;font-weight: normal;margin: 0 0 8px; width: 100%;}
#topmenu{float: left;width: 100%;height: 1.6em;margin: 0 0 10px;}
.menu-nav {background-color: #026D6D;font-family: Arial,Helvetica,sans-serif;font-size: 1.0em;line-height: 1.6em;padding: 0;margin:0;}
.menu-nav li, .menu-nav ul {margin: 0;list-style: none outside none;display: inline;font-weight: bold;}
.menu-nav a:link, .menu-nav a:visited, b.menu-nav a:hover, .menu-nav a:active {color: #FFFFFF;}
.menu-nav li {border-left: 1px solid #55C4C4;padding: 0 0.3em 0 0.7em;}
.menu-nav li.item-22 {border-left: none;}
div#schoolimage div.custom p{margin:0px;padding:0px;}
body.newsevents div#main div#page div#body {width: 340px;}
.newsevents div#main div#page div#body div.blognewsevents h2 span.subheading-category, .newsevents div#main div#page div#right div.moduletable h3{color: #026D6D;font-size: 18px; font-weight: bold;margin: 0;padding: 10px 0;}
.blognewsevents {background-color: #CCEBEB;border: 1px solid #666666;float: left;padding: 10px;width: 340px;}
.blognewsevents div.items-row div.item h2, html body.newsevents div#main div#page div#right div.moduletable ul.category-module li h2 {line-height: 1.3em;font-size: 1.1em;font-family: Helvetica,sans-serif;font-weight:normal;margin: 0 0 5px;display: block;width: 100%;}
.blognewsevents div.items-row div.item dl.article-info {float: left;margin: 0;display: block;width: 100%;}
.blognewsevents div.items-row div.item dl.article-info dd.create, .mod-articles-category-date {margin:0px;color: #999999;display: block;width: 100%;}
.blognewsevents div.items-row, .blognewsevents div.items-row div.item p {display: block;float: left;margin-bottom: 10px;width: 100%;}
.newsevents div#main div#page div#right{background-color: #E0F3F3;border: 1px solid #666666;float: left;padding: 10px;width: 340px;margin: 15px 10px 5px 25px;}
html body.newsevents div#main div#page div#right div.moduletable ul.category-module {list-style: none;margin: 0;padding: 0;clear: both;}
.viewall{ background: url("../images/arrow_cu_right.gif") no-repeat scroll 0 0 transparent;clear: both;display: block;float: left;margin-top: 20px;padding-left: 16px;}
dd, dd.published {padding:0px;color:#999;margin: 0 0 10px;}
.item-page h2, .blog h2 {color: #026D6D;line-height: 22px;font-size: 20px; font-weight: bold;margin: 0;padding: 0 0 5px;display: block;width: 100%;}
.blog h2 span.subheading-category {margin-bottom:10px;display: block;}
.blog h2 a {font-size: 0.7em;font-weight: normal;}
.archive ul li h2 a {font-size: 1.0em;font-weight: normal;}
.blog .items-row {margin-bottom:20px;}
 dl.article-info {margin:0;padding:0px;}
.archive ul {list-style:none;margin:0px;padding:0px;}
.archive ul li {display:block;float:left;width:100%;}
.blog div div {display:block;float:left;width:100%;margin-bottom:20px;}
.pagination {float:left;}
.pagination span, .pagination strong a, .pagination a {display:block;margin:0px 3px;float: left;}
.item-page {}
div.item-page ol, div.item-page ul {float:left;}
div#left div.moduletable_menu ul.menu li:first-child a, div#right div.moduletable_menu ul.menu li:first-child a {
    background-color: #4A8A8A;
    border: 0 none;
	-moz-border-radius-topright: 20px;
	-webkit-border-radius: 0px 20px 0px 0px;
	border-radius: 0px 20px 0px 0px; 
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
}
div#left div.moduletable_menu ul.menu li ul li:first-child a {
	-moz-border-radius-topright: 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px; }
div#left div.moduletable_menu ul.menu li.active.parent ul li.current a,
div#left div.moduletable_menu ul.menu li.active.parent ul li.active.parent ul li.current a {
    background: url("../images/arrow_menu_current.gif") no-repeat scroll 10px 7px #F0F6F6;
    color: #990033;
}
div#left div.moduletable_menu ul.menu li.current.active a {
    background: url("../images/arrow_menu_current.gif") no-repeat scroll 3px 7px #D9E9E9;
    color: #990033;
}